{{define "content"}}
<div class="gallery-page">
    <h1 class="app-title">Beyond Limits — Галерея</h1>

    <div class="gallery-grid">
        {{range $index, $picture := .Pictures}}
        <div class="picture-card" style="--order: {{$index}}">
            <img src="{{$picture.Photo.URL}}" alt="{{$picture.Title}}">
            <a href="/pictures/{{$picture.ID}}" class="no-style">
                <div class="picture-detail">
                    <h3 class="app-text">{{$picture.Title}}</h3>
                    <p class="price">{{$picture.Price}} ₽</p>
                    <button class="app-button-link_mini">Подробнее</button>
                </div>
            </a>
        </div>
        {{end}}
    </div>
</div>
{{end}}